{% block form_row %}
    {% if form.vars.block_prefixes[1] == 'checkbox' %}
        <div class="form-group">
            <div class="form-checkbox">
                {{ form_widget(form) }}
                {{ form_label(form) }}
            </div>
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
        </div>
    {% else %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
