{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>


        .form-container {
            background-color: #ffffff;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            text-align: center;
        }

        .form-container h1 {
            margin-bottom: 1.5rem;
        }

        .form-container .btn {
            margin-top: 1rem;
            width: 100%;
            padding: 0.5rem;
            border: none;
            background-color: #007bff;
            color: #ffffff;
            border-radius: 4px;
            cursor: pointer;
            
        }

        .form-container .btn:hover {
            background-color: #0056b3;
        }

        .form-container a {
            display: block;
            margin-top: 1rem;
            color: #007bff;
            text-decoration: none;
        }

        .form-container a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="form-container" >
        <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}

        <a href="/login"> or Login </a>
    </div>
{% endblock %}
