{% block body %}
<div id="post-wrapper" class="{% if post.dream %}nightmare{% endif %}">
  <div id="post">
    <div id="post-info">
      <a class="profile" href="{{ path('profil_show', {'id': post.profil.id}) }}">
        <img src="https://api.dicebear.com/8.x/big-smile/svg?seed={{ post.profil.name }}" width="40px">
        <span>{{ post.profil.name }}</span>
      </a>
      <span>-</span>
      <span>{{ post.createdAt|date('l, F j, Y') }}</span>
    </div>

    <a href="{{ path('display_post', {'id': post.id}) }}">
      <h1 id="post-title">{{ post.title }}</h1>
      <p>{{ post.text|u.truncate(150, '...', false) }}</p>
    </a>
  </div>
</div>
{% endblock %}
